@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&text=%E2%86%90|%E2%86%92|%E2%86%93|%E2%86%97");
::selection {
  background-color: #ccdbdd; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }

body {
  color: #2a434a;
  background-color: #f8f8f8;
  font-family: freight-text-pro, serif;
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  cursor: default;
  line-height: 165%; }

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem; }

#grid-lines {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  z-index: 5;
  pointer-events: none;
  max-width: 1680px;
  margin: 0 auto; }
  #grid-lines .row {
    height: 100%;
    margin: 0; }
    #grid-lines .row > * {
      height: 100%;
      border-left: 1px solid #7F8A8D;
      opacity: 0.05; }
    #grid-lines .row > *:last-of-type {
      border-right: 1px solid #7F8A8D; }

.highlight {
  color: #C36E38; }

h1, h2, h3, h4, h5, h6 {
  color: #2a434a;
  font-weight: 400;
  margin-bottom: 1.25rem;
  line-height: 150%; }
  h1 .italic, h2 .italic, h3 .italic, h4 .italic, h5 .italic, h6 .italic {
    font-style: italic;
    display: contents; }

.top-nav a {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  z-index: 20; }

a.website-title {
  font-family: aktiv-grotesk, sans-serif;
  color: #C36E38; }

.section-title {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 165%;
  color: #2a434a;
  margin: 0.5rem 0 1rem; }

.subtitle {
  font-family: aktiv-grotesk, sans-serif;
  line-height: 180%;
  color: #7F8A8D;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem; }
  .subtitle.right {
    text-align: right;
    max-width: 345px;
    margin-left: auto;
    margin-top: 0; }
  .subtitle.center {
    text-align: center; }

a {
  color: #2a434a;
  font-family: aktiv-grotesk, sans-serif;
  font-size: 1rem;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    color: #C36E38;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease; }
  a.external aside, a.arrow-down aside {
    display: inline-flex;
    overflow: hidden;
    position: relative;
    margin-right: 0.5rem; }
    a.external aside span, a.arrow-down aside span {
      position: relative;
      font-family: 'Source Code Pro', sans-serif;
      font-size: 1.25rem;
      color: #C36E38;
      transition: none; }
  a.external:hover, a.arrow-down:hover {
    color: #C36E38; }
    a.external:hover span, a.arrow-down:hover span {
      -webkit-transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1); }
    a.external:hover span:nth-child(2), a.arrow-down:hover span:nth-child(2) {
      -webkit-transform: translate(0);
      transform: translate(0); }
  a.external aside span:nth-child(2) {
    position: absolute;
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
    padding-right: 100%; }
  a.external:hover span:nth-child(1) {
    -webkit-transform: translate(200%, -100%);
    transform: translate(200%, -100%); }
  a.external:hover span:nth-child(2) {
    -webkit-transform: translate(0);
    transform: translate(0); }
  a.arrow-down aside span:nth-child(2) {
    position: absolute;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    padding-right: 100%; }
  a.arrow-down:hover span:nth-child(1) {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }

.dark-theme {
  color: white; }
  .dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5 {
    color: white; }
  .dark-theme .subtitle {
    color: #afbcbf; }
  .dark-theme .section-title {
    color: white; }
  .dark-theme a {
    color: white; }
    .dark-theme a:hover {
      color: #E08D59; }
  .dark-theme a.website-title {
    color: #E08D59; }

ul li a,
ol li a {
  font-size: 1rem; }
  ul li a:hover,
  ol li a:hover {
    color: #C36E38;
    border-bottom: transparent; }

p a,
h4 a {
  border-bottom: 1px solid #afbcbf; }
  p a:hover,
  h4 a:hover {
    color: #C36E38;
    border-bottom: 1px solid #E08D59; }

p a {
  font-size: 1rem; }

h4 a {
  font-size: 1.25rem; }

p.emphasis {
  font-style: italic;
  color: #C36E38; }

ol {
  list-style: none;
  counter-reset: custom-counter;
  padding-left: 0; }

ol li {
  counter-increment: custom-counter;
  margin-bottom: 1rem; }

ol li::before {
  content: "0" counter(custom-counter);
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-right: 1rem; }

ul {
  padding-left: 1.25rem;
  list-style: none;
  padding-left: 0; }

ul li {
  margin-bottom: 1rem; }

ul li::before {
  content: "–";
  margin-left: -1rem;
  margin-right: 0.5rem;
  color: #7F8A8D;
  font-weight: 700; }

.left-col-padding {
  padding-left: 15px; }

@media (max-width: 576px) {
  .col-xs {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-xs-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-xs-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-xs-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-xs-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xs-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-xs-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xs-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-xs-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-xs-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xs-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-xs-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-xs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .order-xs-first {
    -ms-flex-order: -1;
    order: -1; }

  .order-xs-last {
    -ms-flex-order: 13;
    order: 13; }

  .order-xs-0 {
    -ms-flex-order: 0;
    order: 0; }

  .order-xs-1 {
    -ms-flex-order: 1;
    order: 1; }

  .order-xs-2 {
    -ms-flex-order: 2;
    order: 2; }

  .order-xs-3 {
    -ms-flex-order: 3;
    order: 3; }

  .order-xs-4 {
    -ms-flex-order: 4;
    order: 4; }

  .order-xs-5 {
    -ms-flex-order: 5;
    order: 5; }

  .order-xs-6 {
    -ms-flex-order: 6;
    order: 6; }

  .order-xs-7 {
    -ms-flex-order: 7;
    order: 7; }

  .order-xs-8 {
    -ms-flex-order: 8;
    order: 8; }

  .order-xs-9 {
    -ms-flex-order: 9;
    order: 9; }

  .order-xs-10 {
    -ms-flex-order: 10;
    order: 10; }

  .order-xs-11 {
    -ms-flex-order: 11;
    order: 11; }

  .order-xs-12 {
    -ms-flex-order: 12;
    order: 12; }

  .offset-xs-0 {
    margin-left: 0; }

  .offset-xs-1 {
    margin-left: 8.333333%; }

  .offset-xs-2 {
    margin-left: 16.666667%; }

  .offset-xs-3 {
    margin-left: 25%; }

  .offset-xs-4 {
    margin-left: 33.333333%; }

  .offset-xs-5 {
    margin-left: 41.666667%; }

  .offset-xs-6 {
    margin-left: 50%; }

  .offset-xs-7 {
    margin-left: 58.333333%; }

  .offset-xs-8 {
    margin-left: 66.666667%; }

  .offset-xs-9 {
    margin-left: 75%; }

  .offset-xs-10 {
    margin-left: 83.333333%; }

  .offset-xs-11 {
    margin-left: 91.666667%; } }
input {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 1rem;
  padding: 0 1rem;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #afbcbf; }
  input:focus {
    outline: none;
    border-bottom: 1px solid #2E353B; }

#messageWrapper {
  float: left;
  vertical-align: middle;
  line-height: 30px; }

.notifyText {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 1rem;
  margin-left: 1rem;
  display: none; }

#invalidPass {
  color: #C36E38; }

#success {
  color: #2a434a; }

.button, .input-field {
  margin-top: 0.5rem; }

button.large-button {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: white;
  font-size: 0.75rem;
  outline: none;
  border: none;
  background-color: #2E353B;
  width: 100%;
  height: 50px;
  transition: all 0.3s ease; }
  button.large-button:hover {
    opacity: 0.9;
    transition: all 0.3s ease; }

#contentFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (max-width: 767px) {
  .button {
    margin-top: 0; } }
#home {
  background-color: #F6F5F3; }

section, .top-nav {
  max-width: 1680px;
  margin: 0 auto; }

.top-nav, .intro, .about, .contact, .bluf, .description, .index, .img-intro, .project-list {
  opacity: 0; }

.load {
  opacity: 1;
  transition: all 0.5s ease-in-out; }

.row {
  max-width: 1680px;
  margin: 0 auto; }
  .row.title {
    margin-bottom: 3rem; }

.padding {
  margin-top: 12vw; }

.sm-padding {
  margin-top: 4rem; }

.xs-padding {
  margin-top: 2rem; }

.no-wrap {
  display: block;
  min-width: 115px; }

.nav {
  margin: 0;
  top: 2rem;
  position: absolute;
  width: 100%;
  max-width: 1680px;
  z-index: 20; }

.copy {
  max-width: 650px; }

.intro {
  margin-top: 12rem;
  transform: translate3d(0, 20px, 0); }

.intro.load {
  opacity: 1;
  margin-bottom: 1rem;
  transition: all 0.75s ease-in-out;
  transform: translate3d(0, 0, 0); }

.intro-title {
  font-size: 3.6vw;
  font-family: freight-text-pro, serif;
  text-align: right;
  line-height: 140%;
  margin-left: auto;
  margin-bottom: 2rem;
  font-weight: 400; }

.sup {
  display: inline-block;
  height: 28px; }

.sup::after,
.sup::before {
  position: absolute;
  width: 57.5%;
  padding-left: 15px;
  right: calc(100% + 15px);
  font-family: aktiv-grotesk, sans-serif;
  color: #7F8A8D;
  font-size: 1rem;
  opacity: 0;
  transition: opacity .4s ease;
  pointer-events: none; }

.sup::before {
  margin-top: -5px;
  padding-left: 5px;
  font-size: 75%; }

#sup-1::after {
  content: "Palantir is a software company that builds data fusion platforms for integrating, managing, visualizing and securing data, at massive scale."; }
#sup-1::before {
  content: "1"; }

#sup-2::after {
  content: "Conversant Labs was a Pittsburgh-based startup that focused on developing audio-only applications tailored to the specific needs of the visually impaired and blind."; }
#sup-2::before {
  content: "2"; }

#sup-3::after {
  content: "MoonArk is a time capsule created by a multidisciplinary team of artists and engineers, set to arrive on the Moon in 2021."; }
#sup-3::before {
  content: "3"; }

#sup-4::after {
  content: "Carnegie Mellon University is a private research university based in Pittsburgh, Pennsylvania."; }
#sup-4::before {
  content: "2"; }

.sup:hover::after,
.sup:hover::before {
  opacity: 1;
  transition-delay: 0; }

ul.simple li {
  margin-bottom: .25rem; }
  ul.simple li::before {
    content: none; }

.project-page section,
.info {
  padding-top: 8vw;
  padding-bottom: 10vw; }

.full-width-bg {
  position: relative;
  max-width: 100%;
  background: #f0f0f0;
  overflow: hidden; }
  .full-width-bg.info {
    background: transparent; }
  .full-width-bg.dark-theme {
    background: #2E353B; }
  .full-width-bg.gain {
    background: linear-gradient(150deg, #ececec 0%, #cecfd1 100%); }
  .full-width-bg.bluf {
    background: white; }
  .full-width-bg.contour, .full-width-bg.contour-issues {
    background: #E6E9EB; }
  .full-width-bg.palantir-students {
    background: #EAEBEA; }
  .full-width-bg.welcome-screens {
    background: #E6E9EB; }
  .full-width-bg.contour-final-block {
    padding-bottom: 0; }
    .full-width-bg.contour-final-block div.copy {
      margin-top: 1rem; }
    .full-width-bg.contour-final-block .subtitle.copy {
      margin-bottom: 1.5rem; }
  .full-width-bg.moonark {
    background-color: #202125; }
    .full-width-bg.moonark::before {
      content: ' ';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      min-width: 600px;
      height: 100%;
      opacity: 0.5;
      background-image: url("../img/moonark_intro.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom; }
  .full-width-bg.gaia {
    background-color: #202B33; }
    .full-width-bg.gaia::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.15;
      background-image: url("../img/gaia-bg.jpg");
      background-size: cover; }

.project-intro {
  height: 100vh;
  max-height: 900px;
  min-height: 568px;
  overflow: hidden; }
  .project-intro .row {
    height: 100%; }

.project-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 510px;
  font-size: 2.5rem;
  text-align: right;
  margin: auto;
  z-index: 10;
  opacity: 0;
  transform: translate3d(0, 20px, 0); }

.project-title.load {
  opacity: 1;
  margin-bottom: 1rem;
  transition: all 0.75s ease-in-out;
  transform: translate3d(0, 0, 0); }

.img-intro {
  z-index: 10; }
  .img-intro.board {
    position: absolute;
    top: -3rem;
    right: -15px; }
    .img-intro.board img {
      width: 100%; }
  .img-intro.cards {
    position: absolute;
    bottom: 0;
    left: -15px; }
    .img-intro.cards img {
      width: 85%; }
  .img-intro.screen {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden; }
    .img-intro.screen img {
      position: absolute;
      top: 6rem;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
      height: 100%;
      border-radius: 5px; }

.bluf .subtitle {
  margin-bottom: 0; }

.bluf-copy {
  line-height: 150%;
  margin-bottom: 1.5rem; }

.details .section-title {
  margin-bottom: 0; }
.details p {
  margin-top: 0;
  max-width: 300px; }

.index {
  padding: 2.5rem 0; }

.image-row {
  margin: 4rem 0 5rem; }
  .image-row .subtitle {
    padding-top: 1rem; }

.img-wrapper {
  padding: 1rem;
  z-index: 10; }
  .img-wrapper img {
    width: 100%;
    align-self: center; }
    .img-wrapper img.border {
      border: 1px solid #ccdbdd;
      border-radius: 5px; }
  .img-wrapper.screen-scroll {
    max-height: 500px;
    overflow-y: scroll; }
  .img-wrapper.screen img {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 3px; }

.dark-theme .img-wrapper.screen img {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25); }

.palantir-students .project-intro .img-wrapper,
.welcome-screens .project-intro .img-wrapper {
  padding: 0; }
  .palantir-students .project-intro .img-wrapper img,
  .welcome-screens .project-intro .img-wrapper img {
    min-width: 850px; }
.palantir-students .project-intro .screen,
.palantir-students .project-intro .grid,
.welcome-screens .project-intro .screen,
.welcome-screens .project-intro .grid {
  display: none; }

.welcome-screens .project-intro img {
  margin-top: -4rem; }

section.full-width-bg.hmw .img-wrapper img {
  max-width: 400px;
  margin: auto; }
section.full-width-bg.hmw ol.simple {
  margin-bottom: 0; }
  section.full-width-bg.hmw ol.simple li:not(:last-child) {
    margin-bottom: 2rem; }
  section.full-width-bg.hmw ol.simple li::before {
    position: absolute;
    left: -30px;
    color: #afbcbf;
    margin-top: 6px; }
  section.full-width-bg.hmw ol.simple .subtitle {
    max-width: 510px; }
  section.full-width-bg.hmw ol.simple h4 {
    margin-bottom: 0.25rem; }

section.full-width-bg.hmw,
section.full-width-bg.gameplay {
  color: white; }
  section.full-width-bg.hmw h3, section.full-width-bg.hmw h4,
  section.full-width-bg.gameplay h3,
  section.full-width-bg.gameplay h4 {
    color: white; }
  section.full-width-bg.hmw .img-wrapper,
  section.full-width-bg.gameplay .img-wrapper {
    padding: 1rem; }
  section.full-width-bg.hmw ul,
  section.full-width-bg.gameplay ul {
    margin-bottom: 3rem; }
    section.full-width-bg.hmw ul li,
    section.full-width-bg.gameplay ul li {
      font-size: 1.1rem;
      line-height: 150%;
      padding-right: 1.5rem; }

.gameplay .dream-card {
  margin-top: 35%; }
.gameplay .highlight-copy {
  padding-right: 3rem; }

section.final-img {
  background-size: cover;
  height: 50vw;
  max-height: 850px;
  min-height: 300px;
  z-index: 10; }
  section.final-img.gain {
    background-image: url("../img/final_gain.jpg");
    background-size: cover; }
  section.final-img.contour {
    background-image: url("../img/mid_fi_final.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.project-page section.welcome-screens.explorations {
  padding: 3rem 0; }

.project-list-title {
  margin-top: 0.25rem;
  font-family: freight-text-pro, serif;
  transition: all .2s ease;
  width: fit-content;
  line-height: 120%;
  border-bottom: 1px solid transparent; }
  .project-list-title::after {
    display: inline-flex;
    content: "→";
    margin-left: 0.5rem;
    font-family: 'Source Code Pro', sans-serif;
    color: #E08D59;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s; }
.project-list .subtitle {
  margin: 1rem 0 0;
  color: #7F8A8D;
  font-size: 1rem; }
.project-list .project {
  margin-top: 2rem; }
  .project-list .project .img-wrapper {
    padding: 0;
    opacity: 1;
    transition: all .2s ease; }
    .project-list .project .img-wrapper img {
      position: relative;
      z-index: 20; }
  .project-list .project.wip {
    pointer-events: none; }
    .project-list .project.wip .img-wrapper {
      opacity: .5; }
    .project-list .project.wip .project-list-title {
      color: #7F8A8D; }
  .project-list .project:hover .img-wrapper {
    opacity: 0.8;
    transition: all .3s ease; }
  .project-list .project:hover .project-list-title {
    transition: all .3s ease; }
    .project-list .project:hover .project-list-title::after {
      opacity: 1;
      transform: translateX(0); }
.project-list.sec-section {
  margin-top: 7rem; }
  .project-list.sec-section .project {
    align-items: baseline;
    margin-top: -3px;
    margin-bottom: 1.5rem; }
  .project-list.sec-section .project-list-title {
    margin-top: 0; }
  .project-list.sec-section .subtitle {
    margin: 2px 0 0;
    text-align: right; }

footer {
  padding: 3rem 0;
  position: relative;
  max-width: 100%;
  background: #2E353B; }

@media screen and (min-width: 1680px) {
  .intro-title {
    font-size: 58px; }

  .project-page section,
  .info {
    padding-top: 135px;
    padding-bottom: 168px; } }
@media (max-width: 991px) {
  .intro-title {
    font-size: 2.25rem;
    max-width: 550px; }

  .img-intro.screen img {
    height: 95%; }

  .palantir-students .project-intro .img-wrapper img {
    min-width: 700px; }

  .project-title {
    font-size: 2.25rem; }

  .sup::after,
  .sup::before {
    width: 76%;
    right: calc(100% + 15px); } }
@media (max-width: 767px) {
  .intro-title {
    font-size: 2.25rem; }

  .project-title {
    font-size: 2.25rem; }

  .contour .project-title,
  .palantir-students .project-intro .project-title,
  .welcome-screens .project-intro .project-title {
    justify-content: flex-start;
    margin-top: 10rem;
    font-size: 2.25rem; }

  .image-row .subtitle {
    max-width: 100%;
    text-align: center;
    margin: 0 auto 1rem; }

  .copy,
  .hmw,
  .gameplay {
    min-width: 100%;
    max-width: 100%; }

  .gameplay .dream-card {
    margin: 1rem 0 0; }
  .gameplay .highlight-copy {
    padding-right: 0; }

  .image-row {
    margin: 1rem 0 3rem; }

  .d-none-mobile {
    display: none; }

  sup,
  .sup::after,
  .sup::before {
    display: none; }

  .bluf,
  .description,
  .hmw,
  .gameplay {
    padding-top: 2.5rem;
    padding-bottom: 3rem; }

  .bluf-wrapper {
    margin-bottom: 0; }
    .bluf-wrapper .order-sm-last.order-xs-last {
      margin-top: 3rem; }

  .img-intro.screen,
  .img-intro.grid {
    position: absolute;
    padding: 15px;
    left: 0;
    top: 45%;
    width: 100%; }
    .img-intro.screen img,
    .img-intro.grid img {
      height: auto;
      width: 100%; }

  .img-intro.screen img {
    width: calc(100% - 30px); }

  .img-intro.grid img {
    margin-top: 3rem; }

  .palantir-students .project-intro .img-intro.screen {
    display: block; }

  .welcome-screens .project-intro .img-intro.grid {
    display: block; }

  section.full-width-bg.hmw ol.simple {
    margin-left: 35px; }
    section.full-width-bg.hmw ol.simple li::before {
      left: 15px; }
    section.full-width-bg.hmw ol.simple .subtitle {
      max-width: 100%; } }
@media (max-width: 576px) {
  .intro-title {
    font-size: 2rem;
    text-align: left;
    max-width: 440px;
    margin-left: 0; }

  .project-intro {
    height: 80vh; }
    .project-intro .project-title {
      padding-right: 1rem;
      justify-content: flex-start;
      text-align: left;
      margin-top: 10rem;
      font-size: 2.25rem; }

  #home .copy,
  #home .about .copy,
  #home .social-links-list {
    max-width: 100%;
    min-width: 100%; }

  .image-row {
    margin: 1rem 0; }

  .project-list.sec-section .subtitle {
    text-align: left; }

  .img-intro.screen,
  .img-intro.grid {
    top: 52%; } }

/*# sourceMappingURL=styles.css.map */
