@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&text=%E2%86%90|%E2%86%92|%E2%86%93');

// Colors

$black:        hsl(0, 0%, 4%) !default;
$black-bis:    hsl(0, 0%, 7%) !default;
$black-ter:    hsl(0, 0%, 14%) !default;

$grey-darker:  hsl(0, 0%, 21%) !default;
$grey-dark:    hsl(0, 0%, 29%) !default;
$grey:         hsl(0, 0%, 48%) !default;
$grey-light:   hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$grey-lightest: hsl(0, 0%, 94%) !default;

$white-ter:    hsl(0, 0%, 96%) !default;
$white-bis:    hsl(0, 0%, 98%) !default;
$white:        hsl(0, 0%, 100%) !default;

$charcoal: #2E353B;
$ocean: #2a434a;
$wind: #54666B;
$smoke: #7F8A8D;
$light-smoke: #afbcbf;
$air: #ccdbdd;
$cream: #F6F5F3;
$haze: #f8f8f8;
$highlight: #C36E38;
$highlight-dark: #E08D59;

::selection {
  background-color: $air;
}

// Typography

$family-sans-serif: aktiv-grotesk, sans-serif;
// $family-sans-serif: aktiv-grotesk-extended, sans-serif;
$font-style: normal;
$family-serif: freight-text-pro, serif;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.25rem !default;
$size-3: 1.85rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

$max-width-content: 1680px;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  color: $ocean;
  background-color: $haze;
  font-family: $family-serif;
  font-weight: $weight-normal;
  font-size: 18px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  cursor: default;
  line-height: 165%;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#grid-lines {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  z-index: 5;
  pointer-events: none;
  max-width: $max-width-content;
  margin: 0 auto;

  .row {
      height: 100%;
      margin: 0;

      >* {
          height: 100%;
          border-left: 1px solid $smoke;
          opacity: 0.05;
      }

      >*:last-of-type {
          border-right: 1px solid $smoke;
      }
  }
}

.highlight {
  color: $highlight;
}

h1, h2, h3, h4, h5, h6 {
  color: $ocean;
  font-weight: $weight-normal;
  margin-bottom: $size-5;
  line-height: 150%;

  .italic {
    font-style: italic;
    display: contents;
  }
}

.top-nav a {
  font-family: $family-sans-serif;
  font-size: 17px;
  font-weight: 400;
  z-index: 20;
}

a.website-title {
  font-family: $family-sans-serif;
  font-weight: 500;
  color: $highlight;
}

#home {
  .website-title img {
    vertical-align: baseline;
    opacity: 1;

    -webkit-transition: all .3s ease; 
    -moz-transition:   all .3s ease;; 
    -ms-transition:  all .3s ease;; 
    transition:  all .3s ease; 

    &:hover {
      opacity: 0.8;

      -webkit-transition: all .3s ease; 
      -moz-transition:   all .3s ease;; 
      -ms-transition:  all .3s ease;; 
      transition:  all .3s ease; 
    }
  }
}


.section-title {
  font-family: $family-sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 165%;
  color: $ocean;
  margin: 0.5rem 0 1rem;
}


.subtitle {
  font-family: $family-sans-serif;
  line-height: 180%;
  color: $smoke;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;

    &.right {
      text-align: right;
      max-width: 345px;
      margin-left: auto;
      margin-top: 0;
    }

    &.center {
      text-align: center;
    }
}



a {
  color: $ocean;
  font-family: $family-sans-serif;
  font-size: 1rem;

  -webkit-transition: all .3s ease; 
  -moz-transition:   all .3s ease;; 
  -ms-transition:  all .3s ease;; 
  transition:  all .3s ease; 

  &:hover {
    color: $highlight;
    text-decoration: none;

    -webkit-transition: all .3s ease; 
    -moz-transition:   all .3s ease;; 
    -ms-transition:  all .3s ease;; 
    transition:  all .3s ease; 
  }

  &.external {
    &::before {
      background: url("../img/link-arrow.svg") no-repeat center center;
      margin-right: 5px;
      width: 14px;
      background-size: contain;
      content: "";
      display: inline-block;
      margin-top: 2px;
      height: 11px;
      color: $highlight;
    }
    
    &:hover {
      color: $highlight;
    }
  }

  &.arrow-down {
    &::after {
      display: inline-flex;
      content: "↓";
      margin-left: 0.5rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.25rem;
      color: $highlight;
      opacity: 1;
    }
  }
}




.dark-theme {
  color: white;

  h1, h2, h3, h4, h5 {
      color: white;
  }

  .subtitle {
    color: $light-smoke;
  }

  .section-title {
    color: white;
  }

  a {
    color: $white;
  
    &:hover {
      color: $highlight-dark;
    }
  }

  a.website-title {
    color: $highlight-dark;
  }
}


ul li a,
ol li a {
  font-size: 1rem;

  &:hover {
    color: $highlight;
    border-bottom: transparent;
  }
}


p a, 
h4 a {
  border-bottom: 1px solid $light-smoke;
  
  &:hover {
    color: $highlight;
    border-bottom: 1px solid $highlight-dark;
  }
}

p a {
  font-size: 1rem;
}


h4 a {
  font-size: 1.25rem;
}

p.emphasis {
  font-style: italic;
  color: $highlight;
}



ol {
  list-style: none;
  counter-reset: custom-counter;
  padding-left: 0;
}

ol li {
  counter-increment: custom-counter;
  margin-bottom: 1rem;
}

ol li::before {
  content: "0"counter(custom-counter);
  // color: $smoke;
  font-family: $family-sans-serif;
  font-weight: $weight-semibold;
  font-size: 15px;
  margin-right: 1rem;
}

ul {
  padding-left: 1.25rem;
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 1rem;
}

ul li::before {
  content: "–";
  margin-left: -1rem;
  margin-right: 0.5rem;
  color: $smoke;
  font-weight: $weight-bold;
}



// Spacing

$block-spacing: 5rem !default;
$lg-spacing: 9rem !default;
$xl-spacing: 12rem !default;

$tablet-margin: 0;
$mobile-margin: 0;

.left-col-padding {
  padding-left: 15px;
}

// Miscellaneous

$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 4px !default;
$radius-large: 6px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;

// Flags

$variable-columns: true !default;


// Missing breakpoint

@media (max-width: 576px) {
    .col-xs {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-xs-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-xs-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-xs-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-xs-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-xs-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-xs-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-xs-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-xs-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-xs-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-xs-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-xs-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-xs-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-xs-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .order-xs-first {
      -ms-flex-order: -1;
      order: -1;
    }
    .order-xs-last {
      -ms-flex-order: 13;
      order: 13;
    }
    .order-xs-0 {
      -ms-flex-order: 0;
      order: 0;
    }
    .order-xs-1 {
      -ms-flex-order: 1;
      order: 1;
    }
    .order-xs-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .order-xs-3 {
      -ms-flex-order: 3;
      order: 3;
    }
    .order-xs-4 {
      -ms-flex-order: 4;
      order: 4;
    }
    .order-xs-5 {
      -ms-flex-order: 5;
      order: 5;
    }
    .order-xs-6 {
      -ms-flex-order: 6;
      order: 6;
    }
    .order-xs-7 {
      -ms-flex-order: 7;
      order: 7;
    }
    .order-xs-8 {
      -ms-flex-order: 8;
      order: 8;
    }
    .order-xs-9 {
      -ms-flex-order: 9;
      order: 9;
    }
    .order-xs-10 {
      -ms-flex-order: 10;
      order: 10;
    }
    .order-xs-11 {
      -ms-flex-order: 11;
      order: 11;
    }
    .order-xs-12 {
      -ms-flex-order: 12;
      order: 12;
    }
    .offset-xs-0 {
      margin-left: 0;
    }
    .offset-xs-1 {
      margin-left: 8.333333%;
    }
    .offset-xs-2 {
      margin-left: 16.666667%;
    }
    .offset-xs-3 {
      margin-left: 25%;
    }
    .offset-xs-4 {
      margin-left: 33.333333%;
    }
    .offset-xs-5 {
      margin-left: 41.666667%;
    }
    .offset-xs-6 {
      margin-left: 50%;
    }
    .offset-xs-7 {
      margin-left: 58.333333%;
    }
    .offset-xs-8 {
      margin-left: 66.666667%;
    }
    .offset-xs-9 {
      margin-left: 75%;
    }
    .offset-xs-10 {
      margin-left: 83.333333%;
    }
    .offset-xs-11 {
      margin-left: 91.666667%;
    }
  }