

input {
    font-family: $family-sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid $light-smoke;

    &:focus {
        outline: none;
        border-bottom: 1px solid $charcoal;
    }
}

#messageWrapper {
    float: left;
    vertical-align: middle;
    line-height: 30px;
}

.notifyText {
    font-family: $family-sans-serif;
    font-size: 1rem;
    margin-left: 1rem; 
    display: none;
}

#invalidPass {
    color: $highlight;
}

#success {
    color: $ocean;
}

.button, .input-field {
    margin-top: 0.5rem;
}

button.large-button {
    font-family: $family-sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
    font-size: 0.75rem;
    outline: none;

    background-color: $charcoal;
    width: 100%;
    height: 50px;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.9;
        transition: all 0.3s ease;
    }
}

#contentFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:  767px) {
    .button {
        margin-top: 0;
    }
}
