@import "initial-variables.scss";


body {
    height: 100%;
    width: 100%;
    background-color: $haze;
    margin: 0 auto;
    cursor: default;
}

section {
    max-width: $max-width-content;
        margin: 0 auto;
}

.top-nav, .intro, .about, .contact, .bluf, .description, .index, .img-intro {
    opacity: 0;
}


.load {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.row {
    margin: 0;
}

#grid-lines {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    z-index: -5;
    pointer-events: none;
    max-width: $max-width-content;
    margin: 0 auto;

    .row {
        height: 100%;
        margin: 0;

        >* {
            height: 100%;
            border-left: 1px solid $smoke;
            opacity: 0.05;
        }

        >*:first-of-type {
            border-left: none;
        }
    }
}


.no-wrap {
    display: block;
    min-width: 115px;
}

.nav {
    margin: 0;
    top: 2rem;
    position: absolute;
    width: 100%;
    max-width: $max-width-content;
    
}


.copy {
    min-width: 375px;
    max-width: 650px;
}

// Home Styles

.intro {
    margin-top: $xl-spacing;
    transform: translate3d(0, 20px, 0);
}

.intro.load {
    opacity: 1;
        margin-bottom: 1rem;
    transition: all 0.75s ease-in-out;
    transform: translate3d(0, 0, 0);
}


.intro-title {
    font-size: 3.6vw;
    font-family: $family-serif;
    text-align: right;
    line-height: 140%;
    margin-left: auto;
    font-weight: $weight-normal;
}


.about {
    margin-top: 6rem;

    .copy {
        max-width: 410px;
        min-width: 375px;
    }
}


.sup-container {
    opacity: 0;
    margin-right: 20px; 
    position: absolute;

    .superscript {
        padding-top: 10px;
        font-family: $family-sans-serif;
        color: $smoke;
        font-size: 15px;
        line-height: 24px;
        text-indent: -10px;
        max-width: 250px;
    }

    &::before {
        content: "";
        display: block;
        margin-top: -8px;
        width: 30px;
        border-top: 2px solid $light-smoke;
    }

    &#sup-2-content {
        top: 165px;
    }

    &#sup-3-content {
        top: 195px;
    }

    &#sup-4-content {
       top: 255px;
    }
}

.sec-section {
    margin: $block-spacing 0;

    .external {
        margin-right: 20px;
    }
}

// Project Styles

.bluf,
.description,
.hmw {
    padding-top: 8vw;
    padding-bottom: 10vw;
}

section.full-width-bg {
    position: relative;
    max-width: 100%;
    z-index: -10;
    background: $grey-lightest;

    &.gain {
        background: linear-gradient(150deg, #ececec 0%, #cecfd1 100%)
    }

    &.bluf {
        background: white;
    }
}


.project-intro {
    height: 100vh;
    max-height: 900px;
    overflow: hidden;

    .row {
        height: 100%;
    }
}


.project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 2.5rem;
    text-align: right;
    margin: auto;
    z-index: 10;
    
    opacity: 0;
    transform: translate3d(0, 20px, 0);
}

.project-title.load {
    opacity: 1;
    margin-bottom: 1rem;
    transition: all 0.75s ease-in-out;
    transform: translate3d(0, 0, 0);

}


.img-intro {
    z-index: -1;

    &.board {
        position: absolute;
        top: -3rem;
        right: 0;

        img {
            width: 100%;
        }
    }

    &.cards {
        position: absolute;
        bottom: 0;
        left: 0;

        img {
            width: 85%;
        }
    }
}

.bluf .subtitle {
    margin-bottom: 0;
}

.bluf-copy {
    line-height: 150%;
    margin-bottom: 1.5rem;
}

.index-wrapper {
    padding: 4rem 0 3rem;
}

.image-row {
    margin: 4rem 0 1rem;
}

.img-wrapper {
    img {
        margin-left: 1px;
        width: calc(100% - 1px);
    }

    .subtitle {
        margin: 0.5rem 0 2rem;
        font-size: 14px;
        line-height: 150%;
    }
}


section.full-width-bg.hmw {
    background: #2f4466;
    color: white;

    h3 {
        color: white;
    }

    .subtitle {
        color: white;
        opacity: 0.5;
    }

    ul {
        margin-bottom: 3rem;

        li {
            font-size: 17px;
            line-height: 150%;
            padding-right: 1.5rem;
        }
    }
}

section.final-img {
    background-image: url("../img/final_gain.jpg");
    background-size: cover;
    height: 50vw;
    max-height: 850px;
    min-height: 300px;
    z-index: 5;
}

@media screen and (min-width: 1680px) {
    .intro-title {
        font-size: 58px;
    }

    .bluf,
    .description {
        padding-top: 135px;
        padding-bottom: 168px;
    }
}

@media (max-width: 991px) {
    .intro-title {
        font-size: $size-2;
    }

    .project-title {
        font-size: $size-2;
    }

    .image-row {
        padding: 0 $mobile-margin;
    }
 }
 
 @media (max-width:  767px) {
    .intro-title {
        font-size: $size-2;
    }

    .project-title {
        font-size: $size-2;
    }

    .copy,
    .hmw {
        min-width: 100%;
        max-width: 100%;
        padding: 0 $mobile-margin;
    }


    .d-none-mobile {
        display: none;
    }

    sup {
        display: none;
    }

    .bluf-wrapper {
        margin-bottom: 3rem;
    }
 }


@media (max-width: 576px) {

    .intro-title {
        padding-right: $mobile-margin;
        font-size: 7vw;
    }

    .project-title {
        padding-right: $mobile-margin;
        font-size: 6.5vw;
    }

    .copy,
    .about .copy,
    .social-links-list {
        padding: 0 $mobile-margin;
        max-width: 100%;
    }
}